.services-research{
    padding: 10% 0 15%;

    .list-services{
        margin-bottom: 100px;
    }

    h2{
        margin-bottom: 50px;
    }

    .filter{
        position: fixed;
        border: 1px solid #ccc;
        border-radius: 7px;
        padding: 3%;
        margin-left: 30px;
        width: 30vw;

        .btn-search{
            position: absolute;
            right: 0;
            margin-right: 50px;
            margin-top: -25px;
            background: transparent;
            border: none;

            &:hover{
                color: $blue;
                transition: ease 0.5s;
            }
        }
    }
}