.header-admin{
    position: fixed;
    z-index: 20;
    height: 100vh;
    width: 20vw;
    left: 0;
    background:#051d27;

    @media(min-width: 768px){
        .navbar-nav{
            margin-top: 40px;
            margin-left: 30px;
        }
    }

    @media(min-width: 1024px){
        .navbar-nav{
            margin-top: 40px;
            margin-left: 30px;
        }
    }

    @media(min-width: 1200px){
        .navbar-header{
            a{
                img{
                    width: 100%;
                    margin-top: 15px;
                }
            }
        }

        .navbar-nav{
            margin-top: 40px;
            margin-left: 30px;
        }
    }

    .navbar-default{
        background: #051d27;
        .navbar-nav {
            
            li{
                display: block !important;
                float: none;
                a{
                    color: #fff;

                    &:focus{
                        outline: 0;   
                    }   
        
                    &:hover{
                        border-bottom: 1px solid $blue;
                    }
                }
            }
        }
    }

    .container{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

#admin-table{
    margin-top: 65px;

    .table{
        background: #F5F5F5;
    }

    .fa{
        color: $dkblue;
        //margin-right: 10px;
    }

    .fa-times{
        &:hover{
            color: red!important; 
        }
    }

    .fa-pencil{
        &:hover{
            color: #8B4513 !important;
        }
    }

    .fa-lock{
        &:hover{
            color: $blue;
        }        
    }

    .fa-eye{
        &:hover{
            color: #5F9EA0;
        }
    }

    #cadastro{
        padding: 0 0 35%;

        h1{
            margin-bottom: 30px;
        }
    }
}