.breadcrumb{
    padding: 0 !important;
    margin: 0 !important;
    border-radius: none;
    background: transparent;

    ul{
        padding: 0 !important;
        
        li{
            display: inline;

            /*&::after{

                content: "/";
                position: absolute;
                width: 15px;
                height: 15px;
                background: url('../images/chevron-right.png') center/100%;
            }*/

            a{
                color: $dkblue !important;
            }
        }
    }
}