.breadcrumb{
    padding: 0 !important;
    margin: 0 !important;
    border-radius: none;
    background: transparent;

    ul{
        padding: 0 !important;

        li{
            display: inline;
            font-size: 16px;

            &+li:before{
                padding: 8px;
                color: black;
                content: "/\00a0";
            }

            a{
                color: $dkblue !important;

                &:hover{
                    text-decoration: underline !important;
                }
            }
        }
    }
}