.btn-right{
    float: right;
}

.btn-left{
    float: left;
}

.buttons-decision{
    margin-bottom: 20px;
    a{
        margin-left: 10px;

        button.btn-success{
            background: #69bb69 !important; 
        }
    }
}

.btn-add {
    float: right;
    background:  #337ab7;
    color: #fff;
    border-radius:  50%;
    width:  30px;
    height:  30px;
    text-align:  center;
    padding-top: 2px;
    text-decoration: none!important;
    font-size: 18px;
    font-weight: 600;
    transition: ease 0.5s;

    &:hover{
        box-shadow: 1px 2px 7px -1px #444;
        color: #fff;
    }
}