.btn-right{
    float: right;
}

.btn-left{
    float: left;
}

.buttons-decision{
    margin-bottom: 20px;
    a{
        margin-left: 10px;

        button.btn-success{
            background: #69bb69 !important; 
        }
    }
}