.overlay-modal{
    position: fixed;
    background: rgba($color: #000000, $alpha: 0.7);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;

    .modal{
        display: block;
        width: 80vw;
        height: 70vh;
        background: #fff;
        border-radius: 5px;
        padding: 3%;
        position: absolute;
        margin: auto;
        z-index: 12;

        .this-modal-content{

            #image-upload{
                visibility: hidden;
            }

            .close{
                position: absolute;
                right: 0;
                top: 0;
                margin: 10px;
            }

            .select-image{
                width: 100%;
                position: absolute;
                top:0;
                left: 0;
                margin-top: 40px;
                height: 50px;
                background: transparent;
                color: $blue;
                border: 1px solid $blue;

                span{
                    text-align: center;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    margin-top: 15px;
                    cursor: pointer;
                }
            }

            #image-selected{
                border: 1px dashed $blue;
                margin: 15px 0;
                padding: 3%;
                height: 200px;
                overflow: auto;
                margin-top: 70px;
            }

            .btn-upload-image{
                width: 100%;
                height: 40px;
                background: $blue;
                color: #fff;
                border: none;
            }

            .the-content{
                text-align: center;
                font-size: 21px;
                padding-top: 35px;
            }

            .modal-decision{
                padding: 15px;
            }
        }
    }

    @media screen and (min-width: 768px) {
        .modal{
            width: 70vw;
            height: 40vh;
        }
    }

    @media screen and (min-width: 1024px) {
        .modal{
            width: 60vw;
            height: 30vh;
        }
    }

    @media screen and (min-width: 1200px) {
        .modal{
            width: 40vw;
            height: 60vh;

            #image-selected{
                margin-top: 50px;
            }
        }
    }
}