.box{
    margin-top: 8px;
    margin-bottom: 5px;
}

.card{
    background-color: #f0f0f0;
    margin: 15px;
    margin-bottom: 30px;
    color: #06067C;    
    padding: 30px;
    border: 1px solid #000;
}

.cat{
    border: 1px solid #000;
    height: 250px;
    margin-bottom: 20px;
}

#inicio{
    margin-top: 150px;
    margin-bottom: 80px;
}

#como-funciona{
    margin-bottom: 50px;
    margin-top: 30px;
}

#categorias{
    padding-bottom: 100px;
    padding-top: 10px;
}

#cadastro{
    margin-bottom: 150px;
}