<div class="container">
  
      <div id="login">
        <div class="form-signin">
          <h2 class="form-signin-heading">Acessaaae:</h2>
          <label for="inputEmail" class="sr-only">E-mail</label>
          <input [(ngModel)]="model.email" type="email" id="inputEmail" class="form-control" placeholder="E-mail" required autofocus>
          <label for="inputPassword" class="sr-only">Senha</label>
          <input [(ngModel)]="model.password" type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
          <button (click)="login()" class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
          <a href="#">Esqueci minha senha</a>
        </div>
      </div>
  
      </div> <!-- /container -->