<div id="cadastro">
  <h1>Cadastre-se</h1>
      <form method="post" action="" class="align-self-start">
          <input type="text" placeholder="Nome" class="box form-control">
          <input type="email" placeholder="E-mail" class="box form-control">
          <input type="text" placeholder="CPF" class="box form-control">
          <select name="" id="UF" class="box form-control">
              <option value="">Selecione o seu estado</option>
              <option value="">ES</option>
              <option value="">MG</option>
              <option value="">SP</option>
              <option value="">RJ</option>
          </select>
          <input type="text" placeholder="Cidade" class="box form-control">
          <input type="text" placeholder="CEP" class="box form-control">
          <input type="text" placeholder="Bairro" class="box form-control">
          <input type="text" placeholder="Endereço" class="box form-control">
          <input type="text" placeholder="Senha para seu perfil" class="box form-control">
          <input type="text" placeholder="Digite sua senha" class="box form-control">

          <button class="btn btn-block btn-success">Cadastrar</button>
      </form>
  </div>