<div id="inicio">
  <h1 class="digita">Bem Vindo ao MisServices</h1>
  <div class="row">
      <div class="col-lg-4">
      <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>Pesquise</h2>
      <p>Encontre aqui os melhores profissionais na área que você deseja</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
      <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>Avalie</h2>
      <p>Aponte a qualidade de um serviço prestado</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
      <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>Anuncie</h2>
      <p>Seja um profissional no MisServices e ganhe mais!</p>
      </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
</div>
