@font-face {
    font-family: 'Lato';
    src: url('../../vendor/fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../../vendor/fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}