<div id="admin" class="container-fluid">
    <div class="row">
      <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
        <ul class="nav nav-pills flex-column">
          
          <li class="nav-item">
            <a class="nav-link" href="#">Usuários</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Serviços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Perfil Administrador</a>
          </li>
        </ul>
      </nav>
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <h2>Usuários</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>CPF</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.nome }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.cpf }}</td>
                
              </tr>
            </tbody>
          </table>
        </div>
    </main>
  </div>
</div>