<div id="como-funciona">
  <div class="row">
              <h1>Como Funciona</h1>
              <div class="row justify-content-md-center">
                  <div class="card col-md-2 col-md-auto">
                      <img src="cadastrar.png" alt="">
                      <p>Primeiro você se cadastra</p>
                  </div>
                  <div class="card col-md-2 col-md-auto">
                      <img src="profissional.png" alt="">
                      <p>Então opta se também quer ser um profissional ou não</p>
                  </div>
                  <div class="card col-md-2 col-md-auto ">
                      <img src="procurar.png" alt="">
                      <p>
                          Agora é só pesquisar o serviço que deseja e selecionar o profissional
                      </p>
                  </div>
                  <div class="card col-md-2 col-md-auto">
                      <img src="agendar.png" alt="">
                      <p>Agendar o serviço</p>
                  </div>
                  <div class="card col-md-2 col-md-auto">
                      <img src="avaliar.png" alt="">
                      <p>E assim que terminar avaliar o serviço</p>
                  </div>
              </div>
          </div>

   <!-- START THE FEATURETTES -->

   <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Pesquise, <span class="text-muted">encontre aqui os melhores profissionais na área que você deseja</span></h2>
        <p class="lead">Após realizar seu cadastro, você pode pesquisar os profissionais que
            realizam aquilo que você precisa. Você é totalmente livre para filtrar os resultados
            como quiser e escolher o profissional que achar melhor
        </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Avalie, <span class="text-muted">aponte a qualidade de um serviço prestado</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Anuncie, <span class="text-muted">seja um profissional no MisServices e ganhe mais!</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
</div>
